html {
    min-height: 100%;
}

body {
    font-family: Roboto;
    background: radial-gradient(rgba(0, 247, 255, 0.25), rgb(0, 247, 255));
    background-size: auto;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: white;
    box-shadow: 10px 10px 8px rgb(50, 50, 50);
    padding: 25px;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.remove {
    float: right;
}

form {
    display: flex;
    flex-flow: row;
}

.idNumber {
    display: none;
}

.strikethrough {
    text-decoration: line-through;
}

.hidden {
    display: none;
}